extends layout

block content
    div.container
        nav.navbar.navbar-default(role='navigation')
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') #{title}
            div#bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/admin') 信息录入
        hr
        div.row
            - for(var i = 0; i < currentCount; i ++)
                div.col-sm-4.col-md-3
                    div(class='thumbnail item-block')
                        img(src="/"+data.MultiData[i].speciesPic+"")
                        div.caption
                            h3 #{data.MultiData[i].title}
                            p 观察时间：#{moment(data.MultiData[i].watchTime).format('YYYY-MM-DD HH:mm')}
                            p 观察地点：#{data.MultiData[i].watchPlace}
                            p 观察人：#{data.MultiData[i].watchPerson}
                            p.result 观察结果：#{data.MultiData[i].watchResult}
                            hr
                            p
                                a(class='btn btn-danger left') 删除
                                a(class='btn btn-success right' href="/detail/?id="+data.MultiData[i]._id+"") 查看详情
        if(currentCount != 0)
            nav
                ul.pager
                    if (currentIndex > 1)
                        li
                            a(href='/?index='+(parseInt(currentIndex)-1)) &larr; 上一页
                    else
                        li.disabled
                            a(href='#') &larr; 上一页
                    if (isNext)
                        li
                            a(href='/?index='+(parseInt(currentIndex)+1)) 下一页 &rarr;
                    else
                        li.disabled
                            a(href='#') 下一页 &rarr;

        .modal.fade.bs-example-modal-sm#delete(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
            .modal-dialog.modal-sm
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                            span.sr-only Close
                        h4#mySmallModalLabel.modal-title 确定删除？
                    .modal-body
                        a.btn.btn-success.left(role='button') 确定
                        a.btn.btn-danger.right(role='button') 取消

        .modal.fade.bs-example-modal-sm#mesage(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
            .modal-dialog.modal-sm
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                            span.sr-only Close
                        h4.modal-title 确定状态
                    .modal-body
                        p.message

        script(src='/javascripts/main.js')